
header{
    font-family: 'Poppins', sans-serif;
}
.image{
    width: 100%;
}
.container {
    position: relative;
    text-align: center;
    color: black;
  }
  .container-text {
    position: absolute;
    top: 45%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  h1{
    font-size: 50px;
  }
 .paragraph{
    margin-bottom: 40px;
  }
  button {
    background-color: #e08a0a;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }

.banner{
    display: flex;
    align-items: center;
}
.banner-img{
    margin-top: 100px;
    margin-left: 200px;
}
.banner-text{
    text-align: left;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 200px;
    align-items: center;
}

.span-color{
    color: green;
    font-weight: 800;
}

.plan-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}
.title{
   text-align: center;
}

.last-sec{
    margin: 100px 400px;
}
.sec-container {
    background-image: url("images/watch.png");
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    color: white;
  }

.head-text {
    position: absolute;
    top: 100px;
    left: 50px;
    
  }
.btn{
    background-color: white;
    border: none;
    border-radius: 10px;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    
  }
 

.footer-section{
    display: flex;
    background-color: black;
}
.footer-details{
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 200px;
    margin-bottom: 100px;
    padding: 50px;
}
.subscribe{
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 200px;
    margin-bottom: 100px;
    padding: 50px;   
}
.input-box{
    width: 100%;
    background-color: white;
    font-weight: 700;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    
  }

.last-button{
    background-color: white;
    border: none;
    border-radius: 10px;
    color: orange;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
.img-margin{
margin-right: 10px;
margin-left: 0px;
margin-top: 20px;

}